// Alerts and form errors
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: $color-info;
  background-color: transparentize($color-info, 0.9);
  border-color: $color-info;
}
.alert-success {
  color: $color-success;
  background-color: transparentize($color-success, 0.9);
  border-color: $color-success;
}
.alert-warning {
  color: $color-warning;
  background-color: transparentize($color-warning, 0.9);
  border-color: $color-warning;
}
.alert-danger {
  color: $color-error;
  background-color: transparentize($color-error, 0.9);
  border-color: $color-error;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}