.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    border: none;
    letter-spacing: 0;
    text-transform: none;
    font-size: $button-font-size;
    padding: 0 1.5rem;
    transition: background-color 0.2s;

    &:hover, &:focus {
        background-color: darken($color-primary, 10%);
    }

    &:active {
        background-color: darken($color-primary, 20%);
    }
}

label{
    clear: both;
    float:left;
    text-align: right;
    margin-right:15px;
}