.challenge-group h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.row .challenge-card-container {
    padding: 1rem;
}

@media (min-width: 40.0rem) {
    .row .challenge-card-container {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.challenge-card {
    padding: 1rem;
    border: $challenge-border;
    color: $challenge-text-color;
    height: 100%;
    transition: background-color 0.2s, border 0.2s;
}

.challenge-card:hover {
    border: $challenge-hover-border;
}

.challenge-card.solved {
    border: $challenge-solved-border;
}

.challenge-card.hidden {
    background-color: $challenge-hidden-background-color;
    border: $challenge-hidden-border;
}

.challenge-card.solved {
    background-color: $challenge-solved-background-color;
}

.challenge-card:hover {
    background-color: $challenge-hover-background-color;
}

.challenge-card * {
    margin-bottom: 0.5rem;
}

.challenge-categories ul {
    margin: 0;
}

.challenge-categories li {
    display: inline-block;
    margin-right: 0.5rem;
    padding: 0 0.5rem;
    font-size: $challenge-category-font-size;
    border-radius: 0.5rem;
    background-color: $challenge-category-background-color;
    color: $challenge-category-text-color;
    margin-bottom: 0;
}

.challenge-description > :last-child {
    margin-bottom: 0;
}

.challenge-details>span:not(:last-child)::after {
    content: " – ";
}

.challenge-links ul {
    margin-left: 1em;
    margin-bottom: 0;
}

.challenge-links li {
    list-style-position: outside;
    padding-left: 0.8rem;
    margin-bottom: 0.1rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.link-file {
    list-style-type: "📄";
}

.link-nc {
    list-style-type: "🐈";
}

.link-web {
    list-style-type: "🌐";
}

summary {
    cursor: pointer;
    width: fit-content;
}

.solve-form {
    margin-left: 1rem;
    margin-right: 1rem;
}

.solve-form, .solve-form .row {
    margin-bottom: 0;
}

.challenge-categories, .challenge-description, .challenge-links, .challenge-hints {
    margin-bottom: $challenge-modal-item-spacing;
}