// TODO: This entire file is a temporary stopgap until the final challenge CSS is complete.

.phx-modal-content {
    background-color: black !important;
}

.challenge-card {
    border-color: white;

    &:not(.solved) {
        color: white;
    }
}
