$hot-pink: #FF4AFF;
$cool-cyan: #4dc4ff;
$yellow: yellow;
$lime: lime;
$tangy-orange: #ff8521;
$dark-purple-1: #0f031f;
$dark-purple-2: #290459;
$dark-purple-3: #382057;

$color-primary: $cool-cyan;
$color-initial: black;
$color-success: $lime;
$color-info: $cool-cyan;
$color-warning: $yellow;
$color-error: #ff765e;

$body-font: "Times New Roman", Times, Tinos, serif;
$body-background-color: $dark-purple-1;
$body-background-image: radial-gradient(circle at center, $dark-purple-2 0, black 100%);

$heading-font: $body-font;
$heading-font-smoothing-effect: true;

$monospace-font: monospace;

$text-color: white;

$border-color: transparentize(white, 0.8);
// $header-border: 1px solid $border-color;
$header-border: none;

$link-color: $hot-pink;
$link-hover-color: $yellow;

$code-background-color: $dark-purple-3;

$input-font-size: inherit;
$button-font-size: inherit;

$modal-backdrop-color: transparentize($dark-purple-1, 0.1);
$modal-fallback-backdrop-color: transparentize($dark-purple-1, 0.03);
$modal-backdrop-filter: blur(10px);
$modal-background-color: transparentize($cool-cyan, 0.95);
$modal-border: 3px solid $cool-cyan;
$modal-close-color: $hot-pink;
$modal-close-hover-color: $yellow;

$challenge-border: 2px solid $border-color;
$challenge-text-color: $text-color;
$challenge-hover-background-color: transparentize($cool-cyan, 0.8);
$challenge-hover-border: 2px solid $cool-cyan;

$challenge-solved-background-color: transparentize($lime, 0.7);
$challenge-solved-border: 2px solid $lime;

$challenge-hidden-background-color: transparentize($color-error, 0.7);
$challenge-hidden-border: 2px solid $color-error;

$challenge-category-background-color: $cool-cyan;
$challenge-category-text-color: $color-initial;
$challenge-category-font-size: 80%;

$challenge-modal-item-spacing: 1.7rem;

$graph-axis-color: $text-color;
$graph-unselected-opacity: 0.6;
$graph-selected-color: white;
$team-selected-background-color: transparentize(white, 0.9)