@import "_variables";

@import "../node_modules/milligram/src/milligram.sass";
@import "_pheonix";

@import "_core";
@import "_header";
@import "_buttons";
@import "_forms";
@import "_tables";
@import "_alerts";
@import "_modals";
@import "_arcs"; // TODO: Refactor
@import "_challenges";
@import "_scoreboard";
@import "_home";
@import "_attribution";
@import "_sponsors";
@import "_nprogress";

// LiveView specific classes for your customizations
.invalid-feedback {
  color: $color-error;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}
