@import "_variables";

@import "../node_modules/milligram/src/milligram.sass";
@import "_pheonix";
@import "../node_modules/nprogress/nprogress";

@import "_core";
@import "_header";
@import "_buttons";
@import "_forms";
@import "_tables";
@import "_modals";
@import "_arcs"; // TODO: Refactor

@import "_hack_challenges";

// LiveView specific classes for your customizations
.invalid-feedback {
  color: $color-error;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

// Alerts and form errors
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: $color-error;
  background-color: transparentize($color-error, 0.9);
  border-color: $color-error;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
